{% extends "layout/app.html" %}
{% block title %}
    <title id="title">{{ result[0].name }}</title>
{% endblock %}
{% block content %}
    {% if result %}
        <table id="data_sensor" style="width:100%">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Id</th>
                    <th>Mac</th>
                    <th>Batterie</th>
                    <th>Temperature</th>
                    <th>Humidite</th>
                    <th>Date</th>
                </tr>
    {% for row in result %}
        <tr>
            <td> {{ row.name }}</td>
            <td> {{ row.ID }}</td>
            <td> {{ row.Mac }}</td>
            <td> {{ row.battery }} %</td>
            <td> {{ row.temperature }} °</td>
            <td> {{ row.humidity }} %</td>
            <td> {{ row.date_releve }}</td>
        </tr>
    {% endfor %}
         </tbody>
        </table>
    {% endif %}
{% endblock %}