<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Station meteo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    {% if result %}
        <table id="employees" style="width:100%">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
    {% for row in result %}
        <tr>
            <td> {{ row.cli_prenom }}</td>
            <td> {{ row.cli_nom }}</td>
        </tr>
    {% endfor %}
         </tbody>
        </table>
    {% endif %}


</head>
<body>

</body>
</html>