{% extends "layout/app.html" %}
{% block content %}
    <div class="container-fluid h100 has-background-grey">
        <div class="colulms">
            <div class="column">
                <h1 class="title has-text-centered has-text-white">Station Météo</h1>
            </div>
        </div>
        <div class="columns">

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <a href="/sensor/id">
                                <img src="https://picsum.photos/640/320/?85" alt="sensor">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title is-4"><i class="fas fa-edit"></i> nom sensor</p>
                                <p class="subtitle is-6">id sensor</p>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <i class="fas fa-hdd"></i>
                                mac address
                            </div>
                            <div>
                                <i class="fas fa-battery-empty"></i>
                                <i class="fas fa-battery-quarter"></i>
                                <i class="fas fa-battery-half"></i>
                                <i class="fas fa-battery-full"></i>
                                batterie
                            </div>
                            <br>
                            <div>
                                <i class="fas fa-tint"></i>
                                humidité
                            </div>
                            <div>
                                <i class="fas fa-temperature-high"></i>
                                temperature
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <a href="/sensor/id">
                                <img src="https://picsum.photos/640/320/?94" alt="sensor">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title is-4"><i class="fas fa-edit"></i> nom sensor</p>
                                <p class="subtitle is-6">id sensor</p>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <i class="fas fa-hdd"></i>
                                mac address
                            </div>
                            <div>
                                <i class="fas fa-battery-empty"></i>
                                <i class="fas fa-battery-quarter"></i>
                                <i class="fas fa-battery-half"></i>
                                <i class="fas fa-battery-full"></i>
                                batterie
                            </div>
                            <br>
                            <div>
                                <i class="fas fa-tint"></i>
                                humidité
                            </div>
                            <div>
                                <i class="fas fa-temperature-high"></i>
                                temperature
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}